.header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #000080;
    position: fixed;
    top: 0;
}
.back{
    width: 10%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster{
    margin-top: 70px;
}